@import "tailwindcss";

:root {
  --background: #FFF3DB;
  --foreground: #482500;

  --primary-color: #FF671C;
  --secondary-color: #2f1900;
  --tertairy-color: #FFA041;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-tertairy: var(--tertairy-color);
  
  --font-poppins: var(--font-poppins);
  --font-anton: var(--font-anton);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
